p{
    font-family: "Lucida Console", "Courier New", monospace;
}

header.despre_html{
    font-size: 30px;
    font-family: "Fantasy", "Courier New", monospace;
    background-color: salmon;
    text-align: center;
    margin-top: -40px;
}

section.inregistreaza{
    size: 10px;
    background-color: rgb(158, 119, 101);
    text-align: justify;
}

.labelInregistreaza{
    font-size: 20px;
}

nav{
    background-color: lightblue;
    font-size: 20px;
}

header.inregistrare{
    font-size: 30px;
    font-family: "Fantasy", "Courier New", monospace;
    background-color: salmon;
    text-align: center;
}

section.despre_html{
    background-color: tan;
    margin-top: -38px;
}

section.tabel{
    background-color:teal;
    margin-top: -16px;
}