/*body {
  background-image: url("../imagini/blue.jpg");
  background-position: initial;
 }*/

@media screen and (min-width: 350px) {
  body {
    background: linear-gradient(
      to right,
      rgb(45, 96, 235),
      rgb(0, 247, 255)
    ), no-repeat;
    /* background: url("../imagini/blue.jpg"); */
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: aliceblue;
    background-color: rgb(59, 54, 54);
    box-sizing: border-box;
    padding: 20px;
  }

  p.acasa {
    font-size: 25px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 25px;
    width: 60%;
    height: 30%;
    background-color: #03b5aa;
    padding: 10px;
  }

  p.acasa::first-letter {
    color: rgb(155, 23, 23);
  }

  p.despre_html {
    font-size: 20px;
  }

  a.despre_html:hover {
    font-size: 25px;
  }

  table.despre_html {
    border: 5px solid black;
  }

  td.despre_html {
    border: 3px solid black;
    font-size: 30px;
    font-family: cursive, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
  }

  header.despre_html {
    font-size: 30px;
    font-family: "Fantasy", "Courier New", monospace;
    background-color: salmon;
    text-align: center;
    margin-top: -40px;
  }

  section.video{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 300px;
    margin: 10px 0;
  }

  /* iframe.video1{
    width: 200px;
  }

  iframe.video2{
    width: 150px;
  }

  iframe.video3{
    width: 300px;
  } */

  #i1 {
    height: 280px;
  }

  #i2 > form > fieldset > div > input {
    position: absolute;
    left: 75%;
    width: 100px;
  }

  #i2 > form > fieldset > div > select {
    position: absolute;
    left: 75%;
    width: 100px;
  }

  #i2 > form > fieldset > div > textarea {
    position: absolute;
    left: 75%;
    width: 100px;
  }

  section.inregistreaza {
    background-color: rgb(194, 178, 171);
    width: 80%;
    position: relative;
    left: 10%;
  }

  label.inregistreaza {
    font-size: 15px;
  }

  fieldset.inregistreaza {
    height: 225px;
  }

  div {
    width: 80%;
    position: relative;
    left: 0%;
  }

  div input {
    position: absolute;
    right: -20%;
    width: 100px;
  }

  #button {
    position: relative;
    left: 40%;
  }

  div select {
    position: absolute;
    right: 30%;
  }

  div textarea {
    position: absolute;
    right: 30%;
  }

  h2.inregistreaza {
    font-size: 30px;
    text-align: center;
  }

  legend.inregistreaza {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
  }

  nav a.active {
    color: white;
    box-sizing: border-box;
    background-color: rgba(17, 112, 168, 1);
  }

  nav a:hover {
    color: black;
    background-color: rgba(137, 206, 247, 1);
  }

  section.despre_html {
    background-color: tan;
    margin-top: -38px;
  }

  section.tabel {
    background-color: teal;
    margin-top: -16px;
  }

  a {
    cursor: pointer;
  }

  section.cumparaturi{
    background-color: rgb(194, 178, 171);
    width: 50%;
    position: relative;
    left: 10%;
  }

  legend.cumparaturi {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
  }

  label.cumparaturi {
    font-size: 15px;
  }

}

/* ************************************************************************************** */

@media screen and (min-width: 1024px) {
  nav {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }
  p {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  p.acasa {
    font-size: 25px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 25px;
    width: 60%;
    height: 75px;
    background-color: #03b5aa;
    padding: 10px;
  }

  p.acasa::first-letter {
    color: rgb(155, 23, 23);
  }

  p.despre_html {
    font-size: 20px;
  }

  a.despre_html:hover {
    font-size: 25px;
  }

  section.video{
    display: flex;
    flex-direction: row;
  }

  table.despre_html {
    border: 5px solid black;
  }

  td.despre_html {
    border: 3px solid black;
    font-size: 30px;
    font-family: cursive, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
  }

  header.despre_html {
    font-size: 30px;
    font-family: "Fantasy", "Courier New", monospace;
    background-color: salmon;
    text-align: center;
    margin-top: -40px;
  }

  #i1 {
    height: 310px;
  }

  #i2 > form > fieldset > div > input {
    position: absolute;
    left: 40%;
    width: 175px;
  }

  #i2 > form > fieldset > div > select {
    position: absolute;
    left: 40%;
    width: 175px;
  }

  #i2 > form > fieldset > div > textarea {
    position: absolute;
    left: 40%;
    width: 175px;
  }

  section.inregistreaza {
    background-color: rgb(194, 178, 171);
    width: 750px;
    position: relative;
    left: 30%;
  }

  label.inregistreaza {
    font-size: 25px;
  }

  fieldset.inregistreaza {
    height: 300px;
  }

  div {
    width: 700px;
    position: relative;
    left: 18%;
  }

  div input {
    position: absolute;
    right: 30%;
  }

  #button {
    position: relative;
    left: 47%;
  }

  div select {
    position: absolute;
    right: 30%;
  }

  div textarea {
    position: absolute;
    right: 30%;
  }

  h2.inregistreaza {
    font-size: 30px;
    text-align: center;
  }

  legend.inregistreaza {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
  }

  nav a {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  nav a.active {
    color: white;
    box-sizing: border-box;
    background-color: rgba(17, 112, 168, 1);
  }

  nav a:hover {
    color: black;
    background-color: rgba(137, 206, 247, 1);
  }

  section.despre_html {
    background-color: tan;
    margin-top: -38px;
  }

  section.tabel {
    background-color: teal;
    margin-top: -16px;
  }

  a {
    cursor: pointer;
  }
}
